<div class="title">
    <h3><strong>Education</strong></h3>
</div>
<div [ngSwitch]="Nb">
    <ng-template ngSwitchCase="5">
        <p>
            <label id="1">waiting...</label>
            <label>: </label>
            <input type="text" id="t1">
            <label id="result1"></label>
        </p>
        <p>
            <label id="2">waiting...</label>
            <label>: </label>
            <input type="text" id="t2">
            <label id="result2"></label>
        </p>
        <p>
            <label id="3">waiting...</label>
            <label>: </label>
            <input type="text" id="t3">
            <label id="result3"></label>
        </p>
        <p>
            <label id="4">waiting...</label>
            <label>: </label>
            <input type="text" id="t4">
            <label id="result4"></label>
        </p>
        <p>
            <label id="5">waiting...</label>
            <label>: </label>
            <input type="text" id="t5">
            <label id="result5"></label>
        </p>
        <button (click)="getWords(5)">Get Words</button>
        <button (click)="checkWords(5)">Check</button>
    </ng-template>      
    <ng-template ngSwitchCase="10">
        <p>
            <label id="1">waiting...</label>
            <label>: </label>
            <input type="text" id="t1">
            <label id="result1"></label>
        </p>
        <p>
            <label id="2">waiting...</label>
            <label>: </label>
            <input type="text" id="t2">
            <label id="result2"></label>
        </p>
        <p>
            <label id="3">waiting...</label>
            <label>: </label>
            <input type="text" id="t3">
            <label id="result3"></label>
        </p>
        <p>
            <label id="4">waiting...</label>
            <label>: </label>
            <input type="text" id="t4">
            <label id="result4"></label>
        </p>
        <p>
            <label id="5">waiting...</label>
            <label>: </label>
            <input type="text" id="t5">
            <label id="result5"></label>
        </p>
        <p>
            <label id="6">waiting...</label>
            <label>: </label>
            <input type="text" id="t6">
            <label id="result6"></label>
        </p>
        <p>
            <label id="7">waiting...</label>
            <label>: </label>
            <input type="text" id="t7">
            <label id="result7"></label>
        </p>
        <p>
            <label id="8">waiting...</label>
            <label>: </label>
            <input type="text" id="t8">
            <label id="result8"></label>
        </p>
        <p>
            <label id="9">waiting...</label>
            <label>: </label>
            <input type="text" id="t9">
            <label id="result9"></label>
        </p>
        <p>
            <label id="10">waiting...</label>
            <label>: </label>
            <input type="text" id="t10">
            <label id="result10"></label>
        </p>
        <button (click)="getWords(10)">Get Words</button>
        <button (click)="checkWords(10)">Check</button>
    </ng-template>      
    <ng-template ngSwitchCase="15">
        <p>
            <label id="1">waiting...</label>
            <label>: </label>
            <input type="text" id="t1">
            <label id="result1"></label>
        </p>
        <p>
            <label id="2">waiting...</label>
            <label>: </label>
            <input type="text" id="t2">
            <label id="result2"></label>
        </p>
        <p>
            <label id="3">waiting...</label>
            <label>: </label>
            <input type="text" id="t3">
            <label id="result3"></label>
        </p>
        <p>
            <label id="4">waiting...</label>
            <label>: </label>
            <input type="text" id="t4">
            <label id="result4"></label>
        </p>
        <p>
            <label id="5">waiting...</label>
            <label>: </label>
            <input type="text" id="t5">
            <label id="result5"></label>
        </p>
        <p>
            <label id="6">waiting...</label>
            <label>: </label>
            <input type="text" id="t6">
            <label id="result6"></label>
        </p>
        <p>
            <label id="7">waiting...</label>
            <label>: </label>
            <input type="text" id="t7">
            <label id="result7"></label>
        </p>
        <p>
            <label id="8">waiting...</label>
            <label>: </label>
            <input type="text" id="t8">
            <label id="result8"></label>
        </p>
        <p>
            <label id="9">waiting...</label>
            <label>: </label>
            <input type="text" id="t9">
            <label id="result9"></label>
        </p>
        <p>
            <label id="10">waiting...</label>
            <label>: </label>
            <input type="text" id="t10">
            <label id="result10"></label>
        </p>
        <p>
            <label id="11">waiting...</label>
            <label>: </label>
            <input type="text" id="t11">
            <label id="result11"></label>
        </p>
        <p>
            <label id="12">waiting...</label>
            <label>: </label>
            <input type="text" id="t12">
            <label id="result12"></label>
        </p>
        <p>
            <label id="13">waiting...</label>
            <label>: </label>
            <input type="text" id="t13">
            <label id="result13"></label>
        </p>
        <p>
            <label id="14">waiting...</label>
            <label>: </label>
            <input type="text" id="t14">
            <label id="result14"></label>
        </p>
        <p>
            <label id="15">waiting...</label>
            <label>: </label>
            <input type="text" id="t15">
            <label id="result15"></label>
        </p>
        <button (click)="getWords(15)">Get Words</button>
        <button (click)="checkWords(15)">Check</button>
    </ng-template>      
    <ng-template ngSwitchCase="20">
        <p>
            <label id="1">waiting...</label>
            <label>: </label>
            <input type="text" id="t1">
            <label id="result1"></label>
        </p>
        <p>
            <label id="2">waiting...</label>
            <label>: </label>
            <input type="text" id="t2">
            <label id="result2"></label>
        </p>
        <p>
            <label id="3">waiting...</label>
            <label>: </label>
            <input type="text" id="t3">
            <label id="result3"></label>
        </p>
        <p>
            <label id="4">waiting...</label>
            <label>: </label>
            <input type="text" id="t4">
            <label id="result4"></label>
        </p>
        <p>
            <label id="5">waiting...</label>
            <label>: </label>
            <input type="text" id="t5">
            <label id="result5"></label>
        </p>
        <p>
            <label id="6">waiting...</label>
            <label>: </label>
            <input type="text" id="t6">
            <label id="result6"></label>
        </p>
        <p>
            <label id="7">waiting...</label>
            <label>: </label>
            <input type="text" id="t7">
            <label id="result7"></label>
        </p>
        <p>
            <label id="8">waiting...</label>
            <label>: </label>
            <input type="text" id="t8">
            <label id="result8"></label>
        </p>
        <p>
            <label id="9">waiting...</label>
            <label>: </label>
            <input type="text" id="t9">
            <label id="result9"></label>
        </p>
        <p>
            <label id="10">waiting...</label>
            <label>: </label>
            <input type="text" id="t10">
            <label id="result10"></label>
        </p>
        <p>
            <label id="11">waiting...</label>
            <label>: </label>
            <input type="text" id="t11">
            <label id="result11"></label>
        </p>
        <p>
            <label id="12">waiting...</label>
            <label>: </label>
            <input type="text" id="t12">
            <label id="result12"></label>
        </p>
        <p>
            <label id="13">waiting...</label>
            <label>: </label>
            <input type="text" id="t13">
            <label id="result13"></label>
        </p>
        <p>
            <label id="14">waiting...</label>
            <label>: </label>
            <input type="text" id="t14">
            <label id="result14"></label>
        </p>
        <p>
            <label id="15">waiting...</label>
            <label>: </label>
            <input type="text" id="t15">
            <label id="result15"></label>
        </p>
        <p>
            <label id="16">waiting...</label>
            <label>: </label>
            <input type="text" id="t16">
            <label id="result16"></label>
        </p>
        <p>
            <label id="17">waiting...</label>
            <label>: </label>
            <input type="text" id="t17">
            <label id="result17"></label>
        </p>
        <p>
            <label id="18">waiting...</label>
            <label>: </label>
            <input type="text" id="t18">
            <label id="result18"></label>
        </p>
        <p>
            <label id="19">waiting...</label>
            <label>: </label>
            <input type="text" id="t19">
            <label id="result15"></label>
        </p>
        <p>
            <label id="20">waiting...</label>
            <label>: </label>
            <input type="text" id="t20">
            <label id="result20"></label>
        </p>
        <button (click)="getWords(20)">Get Words</button>
        <button (click)="checkWords(20)">Check</button>
    </ng-template>     
</div>


