textarea {
    max-width: 260px;  
    max-height: 150px;   
    width: 260px;  
    height: 150px;  
    min-width: 260px;  
    min-height: 150px; 
}
.Vocabulary{
    padding-top: 10px;
    padding-bottom: 10px;
 }