
ul {
    list-style: none; 
    margin: 0 auto;
  }
 a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
  }
 li {
    margin-right: 10px;
  }
 nav {
    display: block;
    width: 500px;
  }
 .tabs ul {
    padding: 1em 0;
    background: #D4E7EE;
  }
 .tabs a {
    padding: 1em;
    background: rgba(177, 152, 145, .3);
    border-right: 1px solid #b19891;
    color: #695753;
  }
 .tabs a:hover {background: #b19891;}
 .tabs li {
    display: inline;
  }
