<div>
    <div class="select-language">
        <label>
            Select Language:
            <select type="select" [formControl]="_Lang">
                <option>English</option>
                <option>Other</option>
            </select>
        </label>
    </div>
    <div class="select-words">
        <label>
            Nb. of words:
            <select type="select" [formControl]="_Words">
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>          
        </label>
    </div>
    <button (click)= "mySetItem()">Save</button>
</div>
